@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: "Open Sans", sans-serif;
}
#container {
    width: 50%;
    margin: 0 auto;
}
.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabs ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

.tabs ul li {
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid #000;
    border-bottom: none; 
    background-color: #ddd;
    z-index: 2;
}

.tabs ul li:not(.active) {
    background-color: #eee;
    z-index: 1; 
    border: 2px solid transparent; 
    border-bottom: 2px solid #000; 
}

.tabs div[role="tabpanel"] {
    display: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin-top: -2px; 
}

.tabs div[role="tabpanel"].active {
    display: block;
}